<div style="background-color: #f8f8f8" class="pt2 mt0 mb0 mt3--md mb0--md">

    <div class="tc pt3 pb4 pr founders-contain">
        <h1 class="sans--medium fw--600 mb0 ws--pre-line color--blue">meet our co-founders,</h1>
        <h2 class="sans--large fw--300 mb2 color--black">Matt + Kevin
        </h2>
    </div>
    <div class="pt0 pb2--md pr" style="z-index: 1;">

        <div class="pr m4--md mt0--md">

            <div class="grid-container contained" style="">
                <div class="row align--center">
                    <div class="col c8--md c8--lg pb4 pe--auto">
                        <div class="">
                            <div class="pr">
                                <div class="push-up">
                                    <div class="">
                                        <picture class="full-width">
                                            <source
                                                srcset="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/About-Us-MK.jpg?v=1600017437"
                                                media="(min-width: 800px)"><img class="full-width" alt="matt &amp; kevin
    co-founders of beam" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/About-Us-MK.jpg?v=1600017437">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c8--md c8--lg pt1--md">

                        <div class="rich-text color--black">
                            <p class="fw-600" style="font-weight: 600;">dear Beam community,</p>
                            <p>we’ve always been active guys. As avid CrossFit competitors, ironman triathletes,
                                marathoners and former professional athletes we’ve pushed our bodies and minds to the
                                brink—but the aches and pains from that lifestyle started taking a toll.
                            </p>
                            <p>That’s when the search for a remedy began. We wanted something that met our personal
                                wellness standards, but the road to finding a product that was all-natural and
                                transparent about ingredients was frustrating. So we created our own—a high-quality hemp
                                that’s effective, natural and non-toxic.
                            </p>
                            <p>Now, our mission is to empower people to push their limits and pursue their passions by
                                improving their physical and mental wellness. Whether athlete or entrepreneur, busy
                                parent, or weekend warrior, we’re constantly working to create better hemp products that
                                meet your needs and expectations.
                            </p>
                        </div>
                        <!-- <img style="max-width: 90px;" src="{{ 'mk-signature.png' | asset_url }}"> -->

                        <img class="pt3 founders-sig"
                            src="{{'https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/mk-signature.png?v=1642518998'}}">

                        <p class="founders">Matt + Kevin</p>

                        <!-- <div class="row mt4 mb3 tc">
                                <div class="dib m1"><a href="/products/the-one" class="pill p1 pt1 pb1 fw--600 tc color--white bg--blue">try kevin's favorite beam</a></div>
                                <div class="dib m1"><a href="/products/sleep-capsules" class="pill p1 pt1 pb1 fw--600 tc color--white bg--blue">try matt's favorite beam</a></div>
                        </div>                       -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .founders-sig {
        max-width: 20vw;
    }

    @media (max-width: 800px) {
        .founders-sig {
            max-width: 50vw;
        }

        .founders {
            padding-bottom: 30px;
        }

        .founders-contain {
            padding-bottom: 20px;
        }
    }
</style>