

<div class="pt2 mt0 mb0 mt3--md mb0--md">

    <div class="tc pt5 pb4 pr bumper"  style="background-color: #fff;">
    </div>
        <div class="header-content">
            <div class="content-contain pb1">
            <h1 class="sans--medium fw--600 mb1 color--blue header-title">about us</h1>  
            <h2 style="font-weight: 300; line-height: 1.4;" class="sans--medium mb2 color--black header-subtitle tc">We make functional wellness products to help you reach your potential.</h2>
            <div style="margin: auto;" class="tc pt1 pb1 sub-contain">
                <h2 class="fw--400 sans--body mb3 pl1 pr1 content-copy">Sleep. Calm. Energy. Recovery. Hydration. These are the building blocks of a healthy lifestyle. At Beam, we've got you covered with each and every one.</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="pt0 pb2--md pr" style="z-index: 1;">
        <div class="">
            <div class="grid-container main-contain">
                <div class="row align--center">
                    <div class="col c12--lg pb4 pe--auto header-outer">
                        <div class="">
                            <div class="pr">
                                <div class="push-up">
                                    <div style="display: flex; align-items: center;" class="header-contain">
                                      
                                        <picture class="full-width desktop-img">
                                            <source
                                                srcset="{{section.settings.statBGImage | img_url: '2000x2000'}}"
                                                media="(min-width: 800px)"><img class="full-width header-image" alt="about us header photo" src="{{section.settings.statBGImage | img_url: '2000x2000' | crop: 'center' }}">
                                        </picture>
                                        <picture class="full-width mobile-img">
                                            <source
                                                srcset="{{section.settings.statMobile | img_url: '2000x2000'}}"
                                                media="(min-width: 800px)"><img class="full-width header-image" alt="about us header photo" src="{{section.settings.statMobile | img_url: '2000x2000' | crop: 'center' }}">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .pill {
    border-radius: 6px;
    display: inline-block;
    border: #2F358E;
    transition: 200ms ease-in-out;
    min-width: 240px;
    max-width: 170px;
    font-size: 16px;
    line-height: 22px;
}
.main-contain {
    padding: 0;
}

.pill:hover {opacity: .8;}
.header-image {
    border-radius: 0px;
    max-height: 600px;
    object-fit: cover;
}
.header-content {
    text-align: center;
    width: 100%;
    margin: 50px auto;
}
.lower-title {
    max-width: 90%;
    margin: auto;
    margin-bottom: 35px;
}
.mobile-img {
        display: none;
    }
.header-subtitle {
    font-size: 42px;
}
.content-contain {
    width: 55vw;
    margin: auto;
}
.content-copy {
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
    }
    .header-title {
        font-size: 20px;
    }
@media (max-width: 820px) {
    .sub-contain {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header-subtitle {
        font-size: 30px !important;
    }
    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    .bumper {
        display: none;
    }
    .main-contain {
        padding: 0;
    }
    .header-contain {
        margin-top: -10px;
    }
    .header-outer {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .lower-copy {
        margin-top: -10px;
        z-index: 999;
        position: relative;
    }
   
}
@media (max-width: 500px) {
    .header-image {
        height: 100%;
        object-fit: cover;
    }
    .header-contain {
        justify-content: center;
        align-items: flex-start !important;
    }
    .header-content {
    margin-left: 0;
    text-align: center;
    margin-top: 10%;
    }
    .content-copy {
        font-size: 18px;
    }
    .content-contain {
        width: 90vw;
    }
    .header-title {
        font-size: 17px;
        margin-bottom: 0;
    }
    .header-subtitle {
        font-size: 22px !important;
        margin: auto;
        padding: 10px 0;
    }
    .sub-contain {
        padding-top: 10px;
        padding-bottom: 0;
    }
}
    </style>

{% schema %}
{
    "name": "About Us",
  "settings": [	      
            {
                "type": "image_picker",
                "id": "statBGImage",
                "label": "Header Image"
            },
            {
                "type": "image_picker",
                "id": "statMobile",
                "label": "Mobile Image"
            },
              {
				"type": "text",
				"id": "heroHeading",
				"label": "Title"
			},
            {
				"type": "text",
				"id": "heroSubtitle",
				"label": "SubTitle"
			}
  ],
  "blocks": [
  {
    "type": "column",
    "name": "Accordian",
    "limit": 10,
    "settings": [
      {
        "type": "text",
        "id": "statHeading",
        "label": "Accordian heading"
      },
      {
        "type": "richtext",
        "id": "statContent",
        "label": "Accordian content"            
      }
    ]
  }
],
  "presets": [{
    "name": "About Us",
    "category": "Content"
  }]
}

{% endschema %}