<div class="mt6 mb0 {%if page.handle == 'psa' %}mt0{%else%}mt10--md{%endif%} brand-container">
    <p class="tc uppercase fw--600 featured-title" role="heading" style="text-transform: uppercase !important; color: #808080; letter-spacing: 3px;">FEATURED IN</p>
  <div class="container  pr0 pl0 pt2--md pb2--md">
      <div class="brand-slider" style="display: flex; align-items: center; justify-content: space-between;">
        {% for block in section.blocks %}
        <div class="mb2 mb0--md pl1 pr1">
              <p class="tc"><span class="dib">
                      <picture class="promo__press-logo p1"><img loading="lazy" class="promo__press-logo"
                              src="{{ block.settings.brand_image | img_url: '500x500' }}"
                      </picture>
                  </span>
              </p>
          </div>
        {% endfor %}
      </div>
  </div>
</div>

<script>
    if (window.matchMedia("(max-width: 768px)").matches) {
      $('.brand-slider').slick({
        autoplay: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        fade: false,
        useTransform: true,
        arrows: false,
        dots: false,
        autoplaySpeed: 5000,
        adaptiveHeight: false,
        pauseOnHover: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              fade: false
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 3,
              fade: false,
              arrows: false,
              dots: false,
              customPaging: function (slider, i) {
            return $('<button type="button" />').text(i + 1);
              }        
            }
          },
          {
            breakpoint: 500,
            settings: {
              slidesToShow: 2,
              fade: false,
              arrows: false,
              dots: false,
              customPaging: function (slider, i) {
            return $('<button type="button" />').text(i + 1);
              }        
            }
          }
        ]
      });
    }
    </script>
    <style>
      .brand-container {
        background: #fafafa;
        padding: 100px 0;
        margin-top: 0;
      }
        .promo__press-logo {
            max-width: 170px;
        }
        .container {
            padding-left: 0 !important;
            padding-right: 0 !important;
            max-width: 80vw;
        }
        @media only screen and (max-width: 1000px) {
        .container {
            max-width: 90vw;
        }
        }
        @media only screen and (max-width: 768px) {
          .brand-container {
            padding: 80px 0 0;
          }
            .promo__press-logo {
            max-width: 200px;
        }
        .slick-initialized .slick-slide {
            padding: 0 !important;
        }
        }
    </style>
{% schema %}
{
    "name":{
       "en":"Featured In"
    },
    "blocks":[
       {
          "type":"brand_block",
          "name":{
             "en":"Brand"
          },
          "settings":[
             {
                "type":"image_picker",
                "id":"brand_image",
                "label":"Brand Logo"
             }
          ]
       }
    ],
    "presets":[
       {
          "name":{
             "en":"Featured In"
          },
          "category":{
             "cs":"Text",
             "da":"Tekst",
             "de":"Text",
             "en":"Text",
             "es":"Texto",
             "fi":"Teksti",
             "fr":"Texte",
             "it":"Testo",
             "ja":"テキスト",
             "ko":"텍스트",
             "nb":"Tekst",
             "nl":"Tekst",
             "pl":"Tekst",
             "pt-BR":"Texto",
             "pt-PT":"Texto",
             "sv":"Text",
             "th":"ข้อความ",
             "tr":"Metin",
             "vi":"Văn bản",
             "zh-CN":"文本",
             "zh-TW":"文字"
          }
       }
    ]
 }
{% endschema %}