<div class="tc row align--center bg--blue-light pt2 pb2 mobile-ticker-container">
    <div class="col c11 c10--md c10--lg">
        <h2 class="sans--large tc fw--600 mb2 color--blue hidden">{{ section.settings.gridTitle }}</h2>


        <div class="marquee" style="max-width:100vw; margin-left: auto; margin-right: auto" id="new-ingredient-section">

            <div class="track">
				{% for block in section.blocks %}
					<div class="db content">
						{% if block.settings.iconimage %}
							<p class="tc"><span class="dib">
									<picture class="promo__press-logo p1"><img class="promo__press-logo"
                                        style="max-width: 54px;" src="{{ block.settings.iconimage | img_url: '800x720' }}">
									</picture>
								</span>
							</p>
						{% endif %}
						{% if block.settings.iconheading %}
							<h4 class="tc color--black fw--600">{{ block.settings.iconheading}}</h4>
						{% endif %}
						{% if block.settings.iconcontent %}
							<h5 class="tc pl1 pr1 pl5--md pr5--md">
								{{ block.settings.iconcontent }}
							</h5>
						{% endif %}
					</div>
				{% endfor %}               
            </div>
        </div>
    </div>
</div>
<style>
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 20px;
    overflow-x: hidden;
}
  .content {
      padding: 0 5%;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
    display: flex;
  }
  @keyframes marquee {
      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(-50%);
      }
  }
  .ticker-title {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  }
  .mobile-ticker {
      display: none;
    }
    .mobile-ticker-container {
        display: none;
    }

  @media screen and (max-width: 768px) {
    .mobile-ticker-container {
      display: flex;
      overflow-y: hidden;
    }
  }
    
</style>
{% schema %}
  {
    "name": "Mobile Ticker",
	"class": "grid-with-icons",
    "settings": [
      {
        "type": "text",
        "id": "gridTitle",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "limit": 10,
        "settings": [
          {
            "type": "text",
            "id": "iconheading",
            "label": "Icon heading"
          },
          {
            "type": "text",
            "id": "iconcontent",
            "label": "Icon content"            
          }
        ]
      }
    ],
    "presets": [{
        "name": "Horizontal Break w Col",
        "category": "content",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
    }]
  }
{% endschema %}