<div class="full-width pt10--md pb10--md mid-hero-section" style="min-height: 380px; background-image: url({{ section.settings.heroBGImage | img_url : '2048x2048' }});">
    <div class="large-container pl3 pr3 pl6--md pr6--md pb6 mt3--md mb3--md pt10--md pb10--md">
        <img style="width:100%" class="hide--md mb2" src="{{ section.settings.heroBGImageMobile | img_url : '800x720' }}"/>
    <div class="row align--middle gutter--none">
            <div class="col tl c11 c6--md c5--lg c4--xl pt6--md">
                {% if section.settings.heroHeading %}
                <h2 class="sans--large fw--600 mb2 color--black">
                    {{ section.settings.heroHeading | escape }}
                </h2>
                {% endif %}
                {% if section.settings.heroBodyText %}
                <div class="sans--body-new fw--600 color--black">
                    {{ section.settings.heroBodyText }}
                </div>                
                {% endif %}

            </div>


    </div>
</div>
</div>

<style>
.mid-hero-section {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 640px) {
    .mid-hero-section {
        background-image: none !important;
    }
}
@media (min-width: 1540px) {
    .mid-hero-section {
        min-height: 720px !important;
    }

}

.large-container {
    max-width: 1600px;
    margin: inherit auto;
}
.checkmark-list {
        list-style-type: none;
        list-style-image: none;
        margin-left: 34px;
    }
    .checkmark-list li {position: relative;}
    .checkmark-list li:before {
        margin-left: 6px; margin-right: 6px;
    }
</style>

{% schema %}
{
  "name": "Product Mid Hero 2",
  "class": "product-subscription_banner",
  "settings": [	      
            {
                "type": "image_picker",
                "id": "heroBGImage",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "heroBGImageMobile",
                "label": "Image Mobile"
            },
            {
                "type": "color",
                "id": "heroBGColor",
                "label": "Background Color",
                "default": "#fff"
              },
			{
				"type": "text",
				"id": "heroHeading",
				"label": "Title"
			},
			{
				"type": "html",
				"id": "heroBodyText",
				"label": "Body Copy"
			}
  ],
  "presets": [{
    "name": "Product Mid Hero 2",
    "category": "Content"
  }]
}

{% endschema %}