<div class="pr color--primary of--hidden  hide--md">

    <div class="push-up full-width">
        <div class="image-banner">
            <img class="mobile-img" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/car-xs-homepage-mobile-V2.jpg?v=1655215270">
        </div>
    <div class="pl1 pr1 pa" style="top: 5%; left: 0; right: 0; display: flex; flex-direction: column; align-items: center;">
        <svg height="30" viewBox="0 0 196 30" width="196" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#fff" height="30" rx="15" width="196"/><text fill="#b85521" font-family="Poppins-Bold, Poppins" font-size="11" font-weight="bold" letter-spacing="2.75"><tspan x="23.9805" y="19">LIMITED TIME ONLY</tspan></text></g></svg>
        <div class="tc mb2 pl4--md">
            <h2 style="text-transform: none !important; color: #000;" role="heading" class="sans--xl mt2 fw--300 mobile-title">
                Sea Salt Caramel<br> Dream Powder, <br>now in <strong>Extra Strength</strong>
            </h2>
            <p style="text-transform: none !important; color: #000;"
                class="sans--medium hero-sub-title color--black pb3 pb4--lg fw--300 mobile-copy">
                Try the decadent new flavor of our best seller to help you sleep deeper and wake up brighter.
            </p>

            <div class="tc"><a class="dib custom-button--wave-primary-top link--opacity pill"
                    style="color: #fff !important; font-size:18px; line-height: 2.4;min-width: 220px; background-color: #B45321 !important; width: 60%;"
                    title="get yours now" href="/products/sea-salt-caramel-extra-strength-dream-powder">Shop now</a></div>
        </div>
    </div>
</div>


</div>
 
<div class="pr color--primary of--hidden  hide--md hidden">

    <div class="push-up full-width">
        <div class="image-banner">
            <img class="mobile-img" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/caramel-hero-v3.jpg?v=1653442135">
        </div>
    <div class="pl1 pr1 pa" style="top: 5%; left: 0; right: 0; display: flex; flex-direction: column; align-items: center;">
        <svg height="30" viewBox="0 0 196 30" width="196" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#f4cb92" height="30" rx="15" width="196"/><text fill="#b85521" font-family="Poppins-Bold, Poppins" font-size="11" font-weight="bold" letter-spacing="2.75"><tspan x="23.9805" y="19">LIMITED TIME ONLY</tspan></text></g></svg>
        <div class="tc mb2 pl4--md">
            <h2 style="text-transform: none !important; color: #fff;" role="heading" class="sans--xl mt2 fw--300 mobile-title">
                Introducing Sea Salt<br> Caramel Dream Powder
            </h2>
            <p style="text-transform: none !important; color: #fff;"
                class="sans--medium hero-sub-title color--black pb3 pb4--lg fw--300 mobile-copy">
                Let swirls of caramel satisfy your sweet tooth and help you fall asleep, stay asleep, and wake up refreshed.*
            </p>

            <div class="tc"><a class="dib custom-button--wave-primary-top link--opacity pill"
                    style="color: #fff !important; font-size:18px; line-height: 2.4;min-width: 220px; background-color: #B45321 !important; width: 60%;"
                    title="get yours now" href="/products/sea-salt-caramel-dream-powder">Shop now</a></div>
        </div>
    </div>
</div>


</div>

    <div class="mt10--lg pr color--primary of--hidden show--md bg--blue-light hero--desktop hidden">
        <div class="image-banner">
            <img class="desktop-img" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/caramel-hero-v2.jpg?v=1653441247">
        </div>
        <div class="pl2 pr2 pa content-contain">
        <svg height="30" viewBox="0 0 196 30" width="196" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#f4cb92" height="30" rx="15" width="196"/><text fill="#b85521" font-family="Poppins-Bold, Poppins" font-size="11" font-weight="bold" letter-spacing="2.75"><tspan x="23.9805" y="19">LIMITED TIME ONLY</tspan></text></g></svg>

            <div class="tl">
                <h2 style="text-transform: none !important;"
                    class="hero-main-title sans--large fw--400 color--white mt1 mb2 show--md">
                    Introducing Sea Salt Caramel Dream Powder
                </h2>
                <p style="text-transform: none !important;" class="sans--body hero-sub-title color--white pb3">
                    Let swirls of caramel satisfy your sweet tooth and help you fall asleep, stay asleep, and wake up refreshed.*
                </p>

                <div class="tl"><a class="dib custom-button--wave-primary-top link--opacity pill"
                        style="color: #fff !important; line-height: 2; background-color: #B45321 !important"
                        title="get yours now" href="/products/sea-salt-caramel-dream-powder">Shop now</a></div>
            </div>
        </div>
    </div>

    <div class="mt10--lg pr color--primary of--hidden show--md bg--white hero--desktop">
        <div class="image-banner">
            <img class="desktop-img" src="https://s3-alpha-sig.figma.com/img/ee3e/152d/ac68a27bd698452f3f746159f3de4140?Expires=1659916800&Signature=AbQjegpFUV9OBh76UhjWDW2kQjKJ4Zm8tUomg5BD18rJ3FH9rniislzC02b~CsDnY84L3cRm9k~Grss8cmHFn3Smoy5nVnbRYpFiodm0~wVNASECb8WjQ-vhwor1FiYwql3Xn9AwSRegN~hlh2UOYl12-PWQq3waW24B1QbLvH8-fW0Eae2Q9wZ~ip-2W4He-AlaSfISUMLc1xjgYBkncuTiayJfHpIXEfBWw2Go5ghXKjpDEv30F561aqaZQKTgZuYrEmUgBv1GN5om2nWqNQM4wHfGPR9oZ4GUy0CnbhK2oWOpxRoV67ivuONQSFAYMzzQcEfnYvNRWbynWY32yQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        </div>
        <div class="pl2 pr2 pa content-contain">
        
            <div class="tl">
                <h2 style="text-transform: none !important; margin-bottom: 90px; font-size: 35px; text-align: center; position: inherit !important;"
                    class="hero-main-title sans--large fw--500 color--white mt1 mb2 show--md; ">
                    99% of people experience better sleep quality when taking Dream Powder.
                </h2>
                <!-- <p style="text-transform: none !important;" class="sans--body hero-sub-title color--black pb3">
                    Try the decadent new flavor of our best seller to help you sleep deeper and wake up brighter.
                </p> -->

                <div class="tl"><a class="dib custom-button--wave-primary-top link--opacity pill"
                        style="color: #427CBF !important; line-height: 1.7; background-color: white !important; font-size: 20px; "
                        title="get yours now" href="/collections/sleep">Shop all</a></div>
            </div>
        </div>

        <div class="grid-container contained">
            <div class="row align--right">
                <div class="col c6--lg">
                    <div class="row gutter--vertical align--center">
    
                        {% for product in collections.start-with-these.products %}
                        <div class="col c6--md c4--md hide-{{product.handle}}">
                            <div class="product-card">
                                {% include 'product-grid-collection' with 'two-per-row' %}
                            </div>
                        </div>
                        {% endfor %}
    
    
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- 
<div class="pt1 pb1 tc bg--light-gray color--black show--md">
    <div class="marquee">
        <div class="track">
            <div class="content">
                "Beam does exactly what you want, magic." –Danica Patrick <span class="pl4 pr4">•</span> "Beam is going
                to be the Nike of the wellness world." –Billy Horschel<span class="pl4 pr4">•</span>
                "Beam does exactly what you want, magic." –Danica Patrick <span class="pl4 pr4">•</span> "Beam is going
                to be the Nike of the wellness world." –Billy Horschel<span class="pl4 pr4">•</span>
                "Beam does exactly what you want, magic." –Danica Patrick <span class="pl4 pr4">•</span> "Beam is going
                to be the Nike of the wellness world." –Billy Horschel<span class="pl4 pr4">•</span>
                "Beam does exactly what you want, magic." –Danica Patrick <span class="pl4 pr4">•</span> "Beamis going
                to be the Nike of the wellness world." –Billy Horschel<span class="pl4 pr4">•</span>


            </div>
        </div>
    </div>

</div> -->




<div class="mb0 pt4 pt7--md tc">
    <h2 role="heading" class="fw--600 sans--medium mb2 color--beam-blue pr1 pl1">new to Beam?<br class="hide--md"> Start with these
        favorites.</h2>
    <div class="row align--center mb1 mb3--md">
        <div class="col c11 c10--sm c7--md c5--xl">
            <div class="tc">
                <h3 style="line-height: 1.4;" class="fw--400 sans--body mb3 pl1 pr1">the highest quality functional
                    supplements for better Sleep, Calm, Energy, Recovery, and Hydration – trusted by our partners and
                    wellness community.</h3>
            </div>
        </div>

    </div>
    <div class="grid-container contained">
        <div class="row align--center">
            <div class="col c6--lg">
                <div class="row gutter--vertical align--center">

                    {% for product in collections.start-with-these.products %}
                    <div class="col c6--md c4--md hide-{{product.handle}}">
                        <div class="product-card">
                            {% include 'product-grid-collection' with 'two-per-row' %}
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="mt4 tc">
        <a href="/collections/shop-all" style="" class="pill p4 pt1 pb1 fw--600 color--white bg--blue">Shop All</a>
    </div>
    {% section 'hp-icons' %}
</div>

{% section 'hp-join' %}
{% section 'index-refer' %}

{% section 'brand-inline' %}



{% section 'hp-contact' %}




<style>
    .hero-main-title {
        font-weight: 300;
    }
    .content-contain {
        top: 26%; 
        left: 240px;
        max-width: 540px
    }
    .capitalize {
        text-transform: capitalize;
    }
    .contact-content {
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-img {
        height: 400px;
        object-fit: cover;
        width: 100%;
    }
    .btn-white {
        background-color: #fff;
        color: #427BBE;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-title-inline {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }
    .product-title {
        font-size: 16px;
        text-transform: capitalize;
    }
    .product-tag-overlay {
        text-transform: capitalize;
    }
    .product-price {
        font-size: 16px;
        color: black;
    }
    .product-card {
        border: 0 !important;
    }
    @media (min-width: 1600px) {
        .desktop-img {
            object-fit: cover;
            max-height: 100vh;
        }
        .hero--desktop {
            min-height: 840px !important;
        }
    }
    .pill {
        /* border-radius: 3px; */
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 168px;
        height: 46px;
        left: 120px;
    }
    .pill-secondary {
        border-radius: 6px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 290px;
        max-width: 170px;
    }
    .hero--desktop .pill {
        min-width: 240px
    }
    .pill:hover {
        background-color: #E9F2FF;
        color: #2F358E;
    }
    .pill-secondary:hover {
        opacity: .8;
    }
    @media screen and (max-width: 600px) {
        .template-page .slick-dots {
            top: auto !important;
            bottom: -20px !important;
            left: auto !important;
            right: auto;
            text-align: center;
        }
        .template-page .slick-dots li button {
            text-indent: -1000px;
            border-radius: 100%;
            border: solid rgb(88 88 88 / 78%) 1px;
            background-color: #ffffff;
            width: 14px;
            height: 14px;
        }
        .template-page .slick-dots li.slick-active button {
            background-color: #2F358E;
        }
    }
    @media (min-width: 600px) {
        .hero-sub-title {
            font-size: 22px !important;
        }
        .hero--desktop {
            min-height: 640px;
        }
        .desktop-img {
            max-height: 100vh;
            object-fit: cover;
            width: 50%;
            margin-bottom: 25px;
            margin-top: 25px;
            margin-left: 25px;
            margin-right: 25px;
        }
    }
    @media screen and (max-width: 1300px) {
        .hero__cover {
            position: absolute;
            top: 0;
            left: 0;
            right: -20%;
            bottom: 0;
            width: 120%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .desktop-img {
            width: 110vw !important;
            height: 100vh;
        } 
        .content-contain {
            top: 21% !important;
            left: 75px !important;
        }
    }
    @media screen and (max-width: 950px) {
        .content-contain {
            top: 21% !important;
            left: 0px !important;
        }
    }
    .marquee {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 26px;
        overflow-x: hidden;
    }
    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }
    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 74s linear infinite;
    }
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
    @media screen and (max-width: 600px) {
        .marquee {
            position: relative;
            width: 100vw;
            max-width: 100%;
            height: 22px;
            overflow-x: hidden;
        }
        .marquee .content {
            font-size: 16px;
            line-height: 22px;
        }
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 124s linear infinite;
        }
        .benefits-grid .benefits-name {
            height: 30px !important;
        }
    }
    .refer_container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .refer_container .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .refer_mark {
        top: 50%;
        transform: translateY(-50%);
        left: -75px;
        position: absolute;
        width: 150px;
    }
    .contactus_section {
        display: flex;
        flex-direction: column;
    }
    .contactus_section .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contactus_section .col.c7--md {
        padding-left: 100px;
    }
    .contactus_section .col.c5--md {
        padding-right: 100px;
        text-align: right;
    }
    @media (max-width: 800px) {
        .mobile-img {
            max-height: 100vh;
            width: 100vw;
            object-fit: cover;
            margin-top: 7%;
            height: 90vh;
        }
        .mobile-title {
            font-size: 25px;
            line-height: 125%;
            font-weight: 500;
        }
        .mobile-copy {
            padding-bottom: 15px;
            padding-top: 10px;
            font-size: 14px;
            width: 95%;
            margin: auto;
            line-height: 24px;
        }
        .contact-content {
            position: absolute;
            z-index: 999;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contact-subtitle {
            margin: 20px;
        }
        .refer-contain {
            margin-top: 0;
            padding-top: 0;
        }
        .refer-subtitle {
            color: white;
            width: 65vw;
        }
        .refer-image {
            filter: brightness(0.3);
        }
        .btn {
            font-size: 16px;
        }
        .contact {
            padding: 0;
        }
        .contact-img {
            height: 400px;
        }
        .join-inline {
            flex-direction: column;
            width: 100%;
        }
        .join-inline-2 {
            flex-direction: column;
            width: 100%;
        }
        .join-flex {
            width: 100%;
        }
        .join-img {
            width: 100vw;
        }
        .join-flex-copy {
            width: 100%;
            align-items: center;
            padding-top: 30px;
            padding-left: 0;
            text-align: center;
        }
        .join-flex-copy-2 {
            width: 100%;
            align-items: center;
            padding-top: 30px;
            padding-right: 0;
            text-align: center;
        }
        .join-copy {
            font-size: 14px;
            width: 90%;
        }
        .join-title {
            font-size: 20px;
            text-align: center;
        }
        .refer_container .row {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .refer_mark {
            top: -50px;
            left: 50%;
            position: absolute;
            width: 100px;
            transform: translateX(-50%);
        }
        .refer_container {
            margin-bottom: 0px;
        }
        .refer_container .col.c7--md {
            margin-bottom: 0px;
        }
        .contactus_section .row {
            flex-wrap: wrap;
        }
        .contactus_section .col.c5--md {
            text-align: center;
            padding-right: 0px;
            padding-left: 0px;
        }
        .contactus_section .col.c7--md {
            padding-left: 0px;
            padding-right: 0px;
        }
        .contactus_section .container {
            padding: 35px 0px !important;
        }
    }
</style>
