<div class="pt2 mt0 mb0 mt3--md mb0--md" style="background-color: #fff;">
	{% section 'fifty-fifty-with-button' %}
	{% section 'centered-paragraph' %}
	{% section 'reverse-checks' %}
	{% section 'ambassadors-three-block' %}
	{% section 'testimonials-no-img' %}

	<div class="bottom-cta">
		<h1 class="cta-title">Apply to become a Beam Ambassador today.</h1>
		<a class="btn btn-center fw--600 mt3" href="https://beamtlc.typeform.com/to/nlLblABQ">Apply here</a>
	</div>
</div>

<style>
	.btn-center {
		margin: auto;
		margin-top: 20px;
	}
	.bottom-cta {
		background-color: #f8f8f8;
		text-align: center;
	}
	.cta-title {
		font-size: 30px;
		width: 40%;
		margin: auto;
		line-height: 150%;
		padding: 5% 0 0;
	}
	.bottom-cta {
		padding-bottom: 5%;
	}

	@media screen and (max-width: 800px) {
		.cta-title {
			width: 80%;
			padding: 10vh 0 5vh;
		}
		
	}
</style>
