<div class="pt2 mt0 mb0 mt3--md mb0--md" style="background-color:#f4f4f4;">
	<div class="full-contain">
    <div class="tc pt10 pb4 pr hero-sleep"  >     		
			<!-- <img class="pt2--md pb5 logo" src="{{ 'beam-logo-white.png' | asset_url }}"/> -->
            <h2 style="text-transform: none !important;" class="sans--large fw--300 mb0 ws--pre-line hero-header new--blue">Beam Product Finder</h2>      
            <p style="text-transform: none !important;" class="main-copy fw--400 mb0 ws--pre-line color--white">We've got premium, science-backed supplements for everything from Sleep to Energy. Take the quiz below to find your perfect Beam.</p>  
            <!-- <a class="btn fw--600" href="#tracker">Track last night's sleep</a> -->
        </div>
	</div>
		<div id="tracker" class="pr" >
            <div class="pr mt0--md">
                <div class="grid-container contained dates-container">
					<div style="text-transform: none !important;" class="sleep-headers color--white"></div>
                </div>
            </div>
        </div>
		<div data-tf-widget="mJtDxVIY" data-tf-opacity="0" data-tf-hide-headers data-tf-iframe-props="title=Product Finder" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
        <div class="form-padding">
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<style>
	html{
		scroll-behavior:smooth
	}
    .form-padding {
        background-color:#f4f4f4;
        padding-top: 5%;
    }
	.new--blue {
		color: #427CBF;
	}

	.hero-header {
		margin-top: 10%;
	}
	.pb5p {
		padding-bottom: 10%;
	}
	.logo {
		width: 125px;
		padding-top: 8%;
	}
	.sleep-headers {
		font-size: 30px;
	}
	.dates-container {
		display: flex;
		margin: auto;
		justify-content: center;
		padding-bottom: 7px;
	}
	 .btn {
        border-radius: 3px;
        display: inline-block;
        color: #427BBE;
        background-color: #fff;
        transition: 200ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 225px;
        height: 55px;
		margin: auto;
    }
	.fw--300 {
		font-weight: 300;
	}
	.hero-sleep {
		width: 50vw;
		margin: auto;
		padding-bottom: 1%;
	}
	.main-copy {
		font-size: 20px;
		line-height: 150%;
		padding: 5% 0;
		color: #000;
	}
	.gifts-container {
		margin: auto;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.date-circle {
		border: 1px solid white;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.today-date {
		background-color: #5DA2F6;
		border: 0;
	}
	/* .date-circle-container {
		width: 50vw;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 5% 0 0;
		margin: auto;
	} */
	.circle-day {
		text-transform: capitalize !important;
		font-size: 12px;
		padding-bottom: 5px;
		padding-top: 12px;
	}
	.passed-day {
		background-color: #314367;
		border: 0;
	}
	.circle-number {
		font-size: 40px;
	}
	.reward-quart {
		width: 45%;
		background-color: rgb(54, 73, 110, .6);
		margin-bottom: 2%;
		margin-right: 2%;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		height: 150px;
		justify-content: space-between;
	}
	.rewards-container {
		width: 55vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 2%;
	}
	.full-contain {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-repeat: no-repeat;
		background-position-y: -1vw;
		background-position-x: -2vw;
		background-repeat: no-repeat;
		background-size: 90vw;
	}
	.quart-icon {
		width: 25px;
		margin: 10px 20px;
	}
	.custom-icon {
		width: 20px;
		margin-top: 12px;
	}
	.quart-copy {
		margin: 10px 20px 20px;
		font-size: 14px;
		width: 70%;
		line-height: 125%;
	}
    @media screen and (max-width: 800px) {
		.hero-sleep {
			padding-top: 10%;
			width: 90vw;
			padding-bottom: 10%;
		}
		.pb5p {
		padding-bottom: 10%;
		}
		.sleep-headers {
			font-size: 19px;
		}
		.rewards-container {
			flex-direction: column;
			width: 90vw;
		}
		.reward-quart {
			width: 100%;
		}
		.date-circle-container {
			width: 85vw;
		}
		.date-circle {
			width: 60px;
			height: 60px;
		}
		.circle-number {
			font-size: 23px;
		}
		.circle-day {
			padding-top: 3px;
			padding-bottom: 0;
		}
		
	}
    @media screen and (max-width: 400px) {
		.date-circle-container {
			width: 93vw;
		}
		.dates-container {
			padding: 0;
		}
		.sleep-headers {
			font-size: 18px;
		}

	}
</style>