{% assign product = all_products['sleep-powder'] %}

<div class="pod-overlay">
	<div class="banner-content">
		<h1 class="color--white banner-text">Exclusive offer for <span class="fw--600 psa-span">Good For You</span>
			<span class="banner-span">$20 off</span></h1>
		<div class="btn-white">
			<h1 style="color:#427BBE">
				{% include 'pod-atc-2'%}
			</h1>
		</div>
	</div>
</div>
<div style="text-transform: none !important;" class="pt2 mt0 mb0 mt3--md mb0--md main-contain">
	<div class="tc pt10 pb4 pr div-hide">
		<div class="media__fixed header__logo-pad--desktop flex-item">
			<a title="beam" href="/"><svg class="db" alt="beam logo" width="78px" height="25px" viewBox="0 0 73 20">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g fill="currentColor" fill-rule="nonzero">
							<path
								d="M61.1974185,8.53148148 C60.9046867,6.93888889 59.8288972,5.86111111 58.3414536,5.66481481 C57.2294326,5.50993357 56.0999225,5.7735102 55.1671429,6.40555556 C54.4658136,6.87715375 53.8592557,7.47915792 53.3796491,8.17962963 L53.3796491,8.85555556 C53.7184368,8.4757612 54.1435818,8.18527811 54.6182707,8.00925926 C55.0081971,7.85321179 55.4458221,7.87601102 55.8178593,8.07175498 C56.1898966,8.26749895 56.4597702,8.61694369 56.557619,9.02962963 C56.6304546,9.31821453 56.666122,9.61512004 56.6637343,9.91296296 C56.6710526,13.1228395 56.6710526,16.3376543 56.6637343,19.5574074 L56.6637343,19.8481481 L61.2907268,19.6407407 L61.2907268,9.3 C61.2706015,9.03333333 61.2431579,8.77962963 61.1974185,8.53148148 Z">
							</path>
							<path
								d="M25.5390226,6.87962963 C25.9287218,8.62222222 25.1273684,11.4018519 22.977619,12.3333333 C22.7209675,12.4440849 22.4518276,12.5224515 22.1762657,12.5666667 L22.1762657,12.962963 C22.3244612,12.9796296 22.4708271,12.9962963 22.617193,13.0092593 C23.8594737,13.1240741 25.0980952,13.1166667 26.3092732,12.7703704 C27.5789975,12.4092593 28.5962406,11.7277778 29.1030326,10.4296296 C29.6958145,8.9037037 29.2548872,7.37592593 27.9686967,6.56296296 C27.6625844,6.36352627 27.3323759,6.20481402 26.9862155,6.09074074 C26.3398829,5.88976727 25.6765877,5.74966568 25.004787,5.67222222 L24.9681955,6.00555556 C25.2703791,6.20378845 25.4772446,6.52054948 25.5390226,6.87962963 Z">
							</path>
							<path
								d="M72.9213283,16.5277778 L72.8444862,16.5388889 C72.7987469,16.6425926 72.7548371,16.7462963 72.7054386,16.8481481 C72.5451819,17.2492891 72.2825245,17.6001419 71.9443358,17.8648148 C71.2545865,18.3518519 70.4806767,18.0666667 70.2977193,17.237037 C70.233942,16.918961 70.2038887,16.5949033 70.2080702,16.2703704 C70.1989223,14.1185185 70.2080702,11.9666667 70.1989223,9.81481481 C70.1975084,9.38523225 70.1601738,8.95654161 70.0873183,8.53333333 C69.8055639,6.94259259 68.7242857,5.86296296 67.2350125,5.66481481 C66.1148076,5.50829464 64.9767174,5.77174764 64.0350877,6.40555556 C63.3300579,6.87810686 62.7208401,7.48279981 62.2402757,8.18703704 L62.2402757,8.86111111 C62.5512722,8.51428277 62.9325822,8.23950439 63.3581454,8.05555556 C64.2436591,7.68518519 65.1291729,8.08888889 65.4090977,9.01851852 C65.4918466,9.31990547 65.5318871,9.63166032 65.5280201,9.94444444 C65.5389975,11.8074074 65.5170426,13.6703704 65.5408271,15.5314815 C65.5384328,16.2325954 65.599676,16.9324496 65.7237845,17.6222222 C65.9451629,18.7333333 66.6001504,19.5203704 67.7363158,19.7611111 C69.9665664,20.2351852 72.0083709,19.2851852 72.9451128,16.712963 C72.9725564,16.6666667 72.9341353,16.5925926 72.9213283,16.5277778 Z">
							</path>
							<path
								d="M52.4301003,5.62777778 C50.9391678,6.15506058 49.3748394,6.43885567 47.7957895,6.46851852 L47.7957895,6.83888889 C47.7957895,9.95740741 47.7957895,13.0753086 47.7957895,16.1925926 C47.7932189,16.8355477 47.4940986,17.4403879 46.9871178,17.8277778 C46.72044,18.0801835 46.3396103,18.1665794 45.9920075,18.0535306 C45.6444047,17.9404819 45.3845699,17.6457266 45.3130576,17.2833333 C45.2364642,16.9595806 45.2008071,16.6272921 45.2069424,16.2944444 C45.1996241,12.8512346 45.1996241,9.40802469 45.2069424,5.96481481 L45.2069424,5.63888889 C45.1136341,5.65925926 45.0550877,5.66851852 45.0002005,5.68703704 C43.9416393,6.05420536 42.8444315,6.29533596 41.7307519,6.40555556 C41.6036033,6.41754222 41.4758829,6.38974797 41.3648371,6.32592593 C40.8764317,6.00568293 40.3274962,5.79188605 39.7529825,5.69814815 L39.7182206,6.00740741 C40.1884211,6.19259259 40.4646867,6.61666667 40.5159148,7.27592593 C40.5506767,7.72037037 40.5470175,8.17037037 40.5506767,8.61851852 C40.5506767,9.28148148 40.5506767,9.94444444 40.5506767,10.6074074 L40.5598246,10.6074074 L40.5598246,16.6111111 C40.6275188,17.0296296 40.6842356,17.4296296 40.7866917,17.8166667 C41.0556391,18.8203704 41.6575689,19.5351852 42.687619,19.7777778 C44.517193,20.2074074 46.4455639,19.6518519 47.5506266,17.6425926 C47.6146617,17.5296296 47.6750376,17.4148148 47.733584,17.3 L47.7957895,17.3240741 L47.7957895,19.8481481 L52.4209524,19.6407407 L52.4301003,5.62777778 Z">
							</path>
							<path
								d="M39.4858647,17.5074074 C39.1009983,17.8554213 38.5861977,18.0178772 38.0741239,17.952911 C37.56205,17.8879449 37.1027879,17.601911 36.8146867,17.1685185 C36.3389975,16.4981481 36.1505514,15.7203704 36.066391,14.9240741 C35.8358647,12.7555556 35.9529574,10.612963 36.624411,8.52222222 C36.8138652,7.88248194 37.1245758,7.28620136 37.539198,6.76666667 C37.8445063,6.36190724 38.2778966,6.07556394 38.7668421,5.95555556 L38.801604,5.63888889 C36.5585103,5.55655361 34.3941296,6.48178687 32.8884211,8.16666667 C30.956391,10.2648148 30.4770426,12.7962963 30.9582206,15.5740741 C30.9844273,15.7230261 30.9557873,15.8765347 30.8777193,16.0055556 C30.1403001,17.0598486 29.0966382,17.8553626 27.8918546,18.2814815 C25.9104261,18.9777778 23.8302005,18.4296296 22.556817,16.8666667 C21.8249875,15.9722222 21.4682206,14.9222222 21.307218,13.7907407 C21.2633083,13.4851852 21.2065915,12.612963 21.2065915,12.612963 C21.1797009,11.8198049 21.2485133,11.0262885 21.4115038,10.25 C21.6456892,9.06481481 22.0061153,7.92592593 22.7123308,6.92777778 C22.9710445,6.52815908 23.3329854,6.20792478 23.7588471,6.00185185 C23.8400969,5.96595268 23.92388,5.93624055 24.0094987,5.91296296 L24.0424311,5.61481481 C22.6467238,5.58868856 21.2618972,5.86788936 19.9826065,6.43333333 C18.3611113,7.10674381 17.0928614,8.43745827 16.4862907,10.1018519 C16.0374479,11.3268688 15.9051973,12.6476299 16.1020802,13.9388889 C16.407619,16.237037 17.5273183,17.9796296 19.6166917,19.0092593 C21.2358647,19.8074074 22.9666416,20 24.7394987,19.8444444 C26.7693902,19.7011358 28.6738663,18.7980375 30.0818546,17.3111111 C30.4477694,16.9407407 30.7514787,16.5166667 31.0881203,16.112963 C31.8199499,18.362963 33.2726316,19.7592593 35.68401,19.8796296 C37.453208,19.9685185 38.7265915,19.3240741 39.6102757,18.1092593 L39.6102757,17.3833333 C39.5736842,17.4222222 39.531604,17.4666667 39.4858647,17.5074074 Z">
							</path>
							<path
								d="M0.0786716792,0.925925926 L0.0786716792,19.4444444 L5.15756892,19.4444444 L5.15756892,0.159259259 C3.48716792,0.740740741 1.80030075,1.11111111 0.0786716792,0.925925926 Z">
							</path>
							<path
								d="M8.48373434,6.04259259 C7.62963739,6.170872 6.82321181,6.52187652 6.14370927,7.06111111 C6.14370927,7.15925926 6.14370927,7.25555556 6.14370927,7.35185185 C6.14651936,7.40159391 6.15263173,7.45108833 6.16200501,7.5 C6.21689223,7.47222222 6.25531328,7.45740741 6.29190476,7.43518519 C7.20669173,6.87962963 8.13977444,7.05 8.79659148,7.87592593 C9.23332357,8.45953145 9.52453319,9.14115365 9.64551378,9.86296296 C10.037569,11.7886765 10.0475196,13.7740632 9.67478697,15.7037037 C9.56027062,16.406361 9.30027442,17.0765723 8.91185464,17.6703704 C8.27699248,18.5962963 7.3,18.8296296 6.30837093,18.2888889 C6.2593754,18.2676801 6.20929572,18.2491352 6.15834586,18.2333333 C6.15078968,18.2836495 6.1459038,18.3343395 6.14370927,18.3851852 C6.14370927,18.4722222 6.14370927,18.5611111 6.14370927,18.6666667 C7.29456299,19.5529479 8.76115564,19.9072529 10.1834085,19.6425926 C11.5892466,19.4044095 12.849081,18.6237715 13.6980201,17.4648148 C14.5407902,16.3507754 15.0392132,15.0093293 15.1305764,13.6092593 C15.2714536,11.8907407 14.982381,10.2481481 14.0657644,8.7462963 C12.903985,6.85185185 10.8457143,5.67962963 8.48373434,6.04259259 Z">
							</path>
						</g>
					</g>
				</svg><span class="hidden">beam</span></a>
		</div>
		<span class="times">×</span>
		<img loading="lazy" class="psa-logo" width="100px" height="39px" loading="lazy"
			src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/WC_good_for_you_desktop_banner.png?v=1648041339">
	</div>
	<div class="mobile-title-cont">
		<h1 style="text-transform: none !important;" class="content-title-mobile fw--60">Your best sleep. Ever.</h1>
		<div style="width: 50%; margin: auto; padding: 10px 0 20px;">
			{% include 'stars-dark' %}
		</div>
	</div>
	<div class="pt0 pb2--md pr">
		<div class="pr">
			<img id="mobile-dp" loading="lazy" class="mobile-image-main" src="{{ product.featured_image | product_img_url: "master"}}">
			<img id="mobile-ssc" loading="lazy" class="mobile-image-main mob-toggle" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/caramel-30-shop-all_2_2400x2400_6f8ba7f6-0064-481e-8f22-04637b047cd1_1.webp?v=1655164363">
			<img id="mobile-xs" loading="lazy" class="mobile-image-main mob-toggle" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/dream-xs-pow_2400x2400_2496f2b7-1216-4467-a450-8bf16e9a8022.webp?v=1655164419">
			<div class="grid-container contained">
				<div class="product-flex">
					<div class="product-image-flex">
						{% section 'pod-product' %}
					</div>
					<div class="content-flex">
						<div class="">
							<h1 style="text-transform: none !important;" class="content-title">Your best sleep. Ever.
							</h1>
							<h1 style="text-transform: none !important;" class="mobile-title">Dream Powder</h1>
							<div class="stars">
								{% include 'stars-dark' %}
							</div>
							<div class="content-menu">
								<ul class="menu-list desktop-list">
									<li id="about" class="menu-li active-li">About</li>
									<li id="benefits" class="menu-li">Benefits</li>
									<li id="htu" class="menu-li">How to Use</li>
									<li id="ni" class="menu-li detailsModalBtn1">Nutrition Info</li>
									<li id="ws" class="menu-li subscribeModalBtn">Why Subscribe</li>
								</ul>
								
								<!-- The Modal -->
								<div id="detailsModal" class="details-modal">
									<!-- Modal content -->
									<div class="details-modal-content"
										style="max-width: 560px; border-radius: 8px;overflow: hidden;">
										<div class="pr p2 tl color--white bg--new-blue">
											<h1 class="sans--medium fw--600 lowercase" temprop="name">Nutrition Info
											</h1>
											<span class="close fw--600"
												style="font-weight: 600 !important;">&times;</span>
										</div>
										<div class="inner">
											<img loading="lazy" style="width: 100%;height: auto;" class="full-width"
												src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/hemp-nutritionfacts-dream-powder-1_e8b038ed-953c-4041-b3d1-ebc95afff2e5.jpg?v=1636130176">
										</div>
									</div>

								</div>


								<!-- The Modal -->
								{% include 'why-sub'%}


								<div class="menu-item-content desktop-cont">
									<div id="about-item" class="menu-reveal">
										<p class="reveal-copy desktop-reveal">Dream Powder is our best-selling healthy hot cocoa made with 5 natural sleep-promoting* ingredients. It’s triple lab-tested, contains Nano Hemp for optimal absorption, and helps you wake up refreshed.* Available in original Cocoa Cinnamon, original in Extra Strength, and new Limited Edition Sea Salt Caramel.
										</p>
									</div>
									<div id="benefits-item" class="menu-reveal">
										<p class="reveal-copy">Dream Powder contains 5 natural sleep-promoting
											ingredients. It's triple lab-tested, contains Nano Hemp, and helps you wake
											up.</p>
									</div>
									<div id="htu-item" class="menu-reveal">
										<p class="reveal-copy">Put at least 1 scoop of powder into a mug of hot water or
											milk and blend using your Beam frother for a cozy finish. Sip 20-30 minutes
											before bedtime to enjoy your deepest night’s sleep.</p>
									</div>
								</div>
							</div>
							<div class="product-atc desktop-atc">
								<h1 class="atc-title">Exclusive Offer for Good For You</h1>
								<div class="select-wrap">
									<label>Flavor</label>
									<select onchange="productToggle(this)" id="product-toggle" class="product-toggle"
										name="color" style="width: 100%;">
										<option id="sleep-powder" value="sleep-powder">Dream Powder</option>
										<option id="sea-salt-caramel-dream-powder"
											value="sea-salt-caramel-dream-powder">Sea Salt Caramel Dream Powder</option>
										<option id="dream-extra-strength-powder" value="dream-extra-strength-powder">
											Dream Extra Strength Powder</option>
									</select>
								</div>
								<div>
									{% include 'lp-toggle'%}
								</div>
						</div>
						<div class="mobile-content">
						<div class="mobile-scroller">
							<ul class="menu-list scroll-list">
								<li id="about-mo" class="menu-li active-li">About</li>
								<li id="benefits-mo" class="menu-li">Benefits</li>
								<li id="htu-mo" class="menu-li">How to Use</li>
								<li id="ni-mo" class="menu-li detailsModalBtn1">Nutrition Info</li>
								<li id="ws-mo" class="menu-li subscribeModalBtn">Why Subscribe</li>
							</ul>
						</div>
						<div class="menu-item-content mobile-cont">
							<div id="about-mo-item" class="menu-reveal">
								<p class="reveal-copy">Dream Powder is our best-selling healthy hot cocoa made with 5 natural sleep-promoting* ingredients. It’s triple lab-tested, contains Nano Hemp for optimal absorption, and helps you wake up refreshed.* Available in original Cocoa Cinnamon, original in Extra Strength, and new Limited Edition Sea Salt Caramel.
								</p>
							</div>
							<div id="benefits-mo-item" class="menu-reveal">
								<p class="reveal-copy">Dream Powder contains 5 natural sleep-promoting
									ingredients. It's triple lab-tested, contains Nano Hemp, and helps you wake
									up.</p>
							</div>
							<div id="htu-mo-item" class="menu-reveal">
								<p class="reveal-copy">Put at least 1 scoop of powder into a mug of hot water or
									milk and blend using your Beam frother for a cozy finish. Sip 20-30 minutes
									before bedtime to enjoy your deepest night’s sleep</p>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			{% section 'pod-cutout' %}
		</div>
		{% section 'pod-action' %}
		{% section 'product-checks' %}
		{% section 'fifty-fifty' %}
		{% section 'brand-inline' %}
		{% section 'pod-save-bottom-gfy' %}

		<div class="mb0 pt4 pt7--md tc">
			<h2 role="heading" class="fw--600 sans--medium mb2 color--beam-blue pr1 pl1">new to Beam?<br class="hide--md"> Start with these
				favorites.</h2>
			<div class="row align--center mb1 mb3--md">
				<div class="col c11 c10--sm c7--md c5--xl">
					<div class="tc">
						<h3 style="line-height: 1.4;" class="fw--400 sans--body mb3 pl1 pr1">The highest quality functional supplements for better Sleep, Calm, Energy, Recovery, and Hydration. Use code GFY at checkout for up to $20 off all products sitewide.</h3>
					</div>
				</div>
		
			</div>
			<div class="grid-container contained">
				<div class="row align--center">
					<div class="col c9--lg">
						<div class="row gutter--vertical align--center">
		
							{% for product in collections.start-with-these.products %}
							<div class="col c6--sm c4--md hide-{{product.handle}}">
								<div class="product-card">
									{% include 'product-grid-collection' with 'three-per-row' %}
								</div>
							</div>
							{% endfor %}
		
		
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<style>
			.slick-dots li:nth-child(2) {
				display: none !important;
			}
			.slick-dots li:nth-child(3) {
				display: none !important;
			}
			.select-wrap {
				margin-top: 5%;
			}
			#ssToggle {
				display: none;
			}

			#xsToggle {
				display: none;
				;
			}

			.btn:hover {
				cursor: pointer;
			}

			.fifty-contain {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
			}

			.dagger {
				font-size: 9px;
				margin-top: -7px;
				position: absolute;
			}

			.mobile-title-cont {
				display: none;
			}

			.psa-span {
				border-right: 1px solid #fff;
				padding-right: 10px;
			}

			.yotpo .rating-star:before {
				color: black;
				opacity: .7;
			}

			.yotpo .text-m {
				display: block !important;
				color: black !important;
				font-weight: 400;
			}

			.perks-copy {
				padding: 3% 3% 0;
			}

			.atc-title {
				font-weight: 600;
				padding-top: 3%;
			}

			.brand-container {
				padding: 50px 0;
			}

			.product-flex {
				display: flex;
				width: 80vw;
				margin: auto;
			}

			.product-image-flex {
				width: 48%;
				max-width: 1440px;
			}

			.slide img {
				max-height: auto;
				object-fit: cover;
				max-width: 100%;
			}

			.banner-span {
				padding: 0 25px 0 10px;
			}

			.slick-current {
				margin-bottom: 1%;
			}

			.product-image-main {
				width: 100%;
				max-width: 100%;
				height: auto;
			}

			.content-flex {
				padding: 5% 0 0 10%;
				width: 50%;
			}

			.content-title {
				font-size: 32px;
				font-weight: 600;
				padding-bottom: 3%;
			}

			.menu-list {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding-top: 5%;
				align-items: center;
				cursor: pointer;
				flex-wrap: wrap;
			}

			.menu-li {
				font-weight: 600;
			}

			.reveal-copy {
				padding-top: 5%;
				line-height: 175%;
			}

			.active-li {
				color: #427BBE;
				border-bottom: 2px solid #427BBE;
			}

			.menu-reveal {
				display: none;
			}

			.sleep-cutout {
				margin-top: 10%;
				background: #f4f4f4;
				display: flex;
				flex-direction: column;
				width: 100%;
				justify-content: center;
				align-items: center;
			}

			.cutout-content {
				padding: 5% 0;
				width: 60%;
			}

			.inline-copy {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.cutout-title {
				font-size: 18px;
				color: #427BBE;
				font-weight: 600;
				padding-bottom: 3%;
			}

			.product-card {
        border: 0 !important;
    }
	.product-card .yotpo .text-m {
          display: none !important;
		  color: black !important;
		  font-weight: 400;
      } 
			.copy-title {
				font-size: 30px;
				margin: 15px 0;
			}

			.inline-item {
				text-align: center;
			}

			.seperator-vertical {
				border-left: 2px solid #dbdbdb;
				margin: 0 5%;
			}

			.copy-descript {
				margin-bottom: 15px;
				font-size: 18px;
			}

			.slick-dots li.slick-active {
				opacity: .7 !important;
			}

			.slick-dots li {
				width: 32% !important;
			}

			.slick-dots {
				display: flex;
				align-items: stretch;
				justify-content: space-evenly;
			}

			.slick-dots img {
				height: 100%;
				object-fit: cover;
				max-width: 100%;
				max-height: auto;
			}

			.mobile-image-main {
				display: none;
			}

			.mobile-atc {
				display: none;
			}

			.mobile-title {
				display: none;
			}

			.scroll-list {
				display: none;
			}

			.psa-logo {
				width: 150px;
				height: auto;
				padding-top: 1px;
			}

			.times {
				padding: 0 1%;
				color: #427BBE;
			}

			.mobile-cont {
				display: none;
			}

			.template-page span,
			.template-page p,
			.template-page h1,
			.template-page h2,
			.template-page h3,
			.template-index span,
			.template-index p,
			.template-index h1,
			.template-index h2,
			.template-index h3 {
				text-transform: none !important;
			}

			.pod-overlay {
				position: absolute;
				width: 100vw;
				height: 80px;
				background-color: black;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.header__nav {
				display: none;
			}

			.promo__container {
				display: none;
			}

			.btn-white {
				background-color: #fff;
				font-size: 15px;
				border-radius: 3px;
				display: inline-block;
				transition: 200ms ease-in-out;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 170px;
				height: 48px;
			}

			.banner-content {
				display: flex;
				align-items: center;
			}

			.div-hide {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: auto;
				max-width: 50vw;
				max-height: 400px;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			.perks-on {
				line-height: 1.5;
				margin-bottom: 30px
			}

			.subicon {
				max-width: 38px;
			}

			.gaurentee {
				width: 100%;
			}

			.brand-container {
				margin-top: 50px;
			}

			.doc-copy {
				width: 68%;
			}

			.btn {
				font-weight: 600 !important;
			}

			@media screen and (max-width: 800px) {
				.desktop-reveal {
			display: none;
		}
				
				.desktop-cont {
					display: none;
				}
				.mobile-cont {
					display: flex;
				}
				#about-mo-item {
					display: flex;
				}
				.times {
					padding: 0 5%;
				}

				.doc-subtitle {
					font-size: 24px;
				}

				.footer-top {
					padding-top: 10%;
				}

				.headshot {
					width: 18%;
				}

				.doc-copy {
					width: 100%;
				}

				.mobile-title-cont {
					display: flex;
					flex-direction: column;
					text-align: center;
					justify-content: center;
				}

				.content-title-mobile {
					font-size: 18px;
				}

				.banner-span {
					padding-right: 0;
				}

				.banner-content {
					flex-direction: column;
				}

				.pod-overlay {
					z-index: 999;
					height: 50px;
				}

				#product-add-pod2 {
					display: none
				}

				.btn-white {
					display: none;
				}

				.banner-text {
					text-align: center;
					font-size: 12px;
				}

				.btn {
					height: 55px;
					padding-top: 0;
				}

				.mobile-cont {
					display: flex;
				}

				.desktop-list {
					display: none;
				}

				.scroll-list {
					display: flex;
					background-color: #f6f6f6;
					height: 44px;
					align-items: center;
					width: 200%;
					padding-top: 5px;
					flex-wrap: nowrap;
				}

				.mobile-scroller {
					display: flex;
					height: 100%;
					flex-wrap: nowrap;
					overflow-x: scroll;
					white-space: nowrap;
					margin-top: 2vh;
					margin-left: -5vw;
					width: 100vw;
				}

				.mobile-scroller::-webkit-scrollbar {
					width: 0;
					/* Remove scrollbar space */
					background: transparent;
					/* Optional: just make scrollbar invisible */
				}

				.mobile-scroller li {
					display: flex;
					align-items: center;
					height: 100%;
					margin: 0 5vw;
				}

				.main-contain {
					padding-top: 10px;
				}

				.form-action {
					width: 100%;
					font-size: 16px;
				}

				.button--primary {
					font-size: 16px;
				}

				div.rc_block__type label.rc_label {
					font-size: 12px !important;
				}

				.grid-container {
					padding: 0 10px;
				}

				.product-flex {
					width: 90vw;
				}

				.content-title {
					display: none;
				}

				.stars {
					display: none;
				}

				.mobile-title {
					display: block;
					font-size: 18px;
					font-weight: 600;
					padding-top: 3%;
				}

				.inline-copy {
					flex-direction: column;
				}

				.cutout-content {
					width: 75%;
					padding: 10% 0;
				}

				.action-inline {
					flex-direction: column;
				}

				.action-flex-copy {
					width: 100%;
				}

				.action-flex {
					width: 100%;
					padding-bottom: 5%;
				}

				.action-title {
					font-size: 16px;
				}

				.action-copy {
					font-size: 14px;
					padding: 10px 0;
				}

				.answer {
					font-size: 14px;
				}

				.action-inline-2 {
					flex-direction: column;
					padding-bottom: 0;
				}

				.action-flex-copy-2 {
					width: 100%;
				}

				.action-img {
					width: 100%;
					margin-right: 0;
				}

				.cutout-title {
					font-size: 14px;
				}

				.copy-title {
					padding-top: 5%;
					font-size: 24px;
				}

				.copy-descript {
					font-size: 20px;
					padding-top: 5%;
				}

				.mobile-image-main {
					display: flex;
					width: 100vw;
				}

				.pdp-images {
					display: none;
				}

				.product-flex {
					flex-direction: column;
				}

				.slick-dots {
					display: none !important;
				}

				.content-flex {
					padding: 5% 0 0 0;
					width: 100%;
				}

				.mobile-atc {
					display: flex;
					flex-direction: column;
				}

				.pod-img {
					width: 50%;
				}

				.pod-contain {
					margin-top: 10%;
				}

				.pod-subtitle {
					font-size: 18px;
					line-height: 150%;
					text-align: center;
					padding-top: 3%;
				}

				.btn {
					width: 225px;
					font-size: 13px;
					margin-top: 3%;
				}

				.pod-copy {
					padding-top: 5%;
					padding-bottom: 5%;
				}

				.pod-subtitle {
					padding-bottom: 10px;
				}

				.pod-title {
					padding-top: 7%;
					font-size: 12px;
				}

				.div-hide {
					padding: 10px 0 20px;
				}
				.mob-toggle {
					display: none;
				}
			}
		</style>

		<script>

			var onsetReveal = document.getElementById('about-item');
			onsetReveal.style.display = "flex";

			$("li").click(function (event) {
				toggle()
				var menu = document.getElementById(event.target.id)
				menu.style.borderBottom = "2px solid #427BBE";
				menu.style.color = "#427BBE";
				var trigger = document.getElementById(event.target.id + "-item");
				trigger.style.display = "flex";
			});

			function toggle() {
				var menuItems = document.getElementsByClassName("menu-li");
				var divsToHide = document.getElementsByClassName("menu-reveal");
				for (var i = 0; i < divsToHide.length; i++) {
					divsToHide[i].style.display = "none";
				}
				for (var i = 0; i < menuItems.length; i++) {
					menuItems[i].style.borderBottom = "none";
					menuItems[i].style.color = "#000";
				}
			}



		</script>

		<script>
			$(document).ready(function () {
				$('.pdp-images.slideshow').slick({
					autoplay: false,
					slidesToShow: 1,
					slidesToScroll: 1,
					fade: true,
					useTransform: true,
					arrows: true,
					dots: true,
					autoplaySpeed: 10000,
					adaptiveHeight: true,
					pauseOnHover: true,
					customPaging: function (slick, index) {
						var targetImage = slick.$slides.eq(index).find('img').attr('src');
						return '<img src=" ' + targetImage + ' "/>';
					},
					responsive: [
						{
							breakpoint: 768,
							settings: {
								fade: false,
								arrows: false,
								dots: true,
								customPaging: function (slider, i) {
									return $('<button type="button" />').text(i + 1);
								},
								lazyLoad: $(this).find('[data-lazy]').length > 0 ? 'progressive' : null
							}
						}
					]
				});
			});
		</script>

		<script>
			$(document).ready(function () {

				var modal2 = document.getElementById("subscribeModal");
				var btn2 = document.getElementById("ws-mo");
				var btn3 = document.getElementById("ni-mo");
				var span2 = document.getElementsByClassName("close2")[0];

				// When the user clicks on the button, open the modal
				btn2.onclick = function () {
					modal2.style.display = "block";
				}
				btn3.onclick = function () {
					modal.style.display = "block";
				}

				// When the user clicks on <span> (x), close the modal
				span2.onclick = function () {
					modal2.style.display = "none";
				}

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function (event2) {
					if (event2.target == modal2) {
						modal2.style.display = "none";
					}
				}


				// Get the modal
				var modal = document.getElementById("detailsModal");

				// Get the button that opens the modal
				var btn1 = document.querySelector(".detailsModalBtn1");

				// Get the <span> element that closes the modal
				var span = document.getElementsByClassName("close")[0];


				// When the user clicks on the button, open the modal
				btn1.onclick = function () {
					modal.style.display = "block";
				}


				// When the user clicks on <span> (x), close the modal
				span.onclick = function () {
					modal.style.display = "none";
				}

				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function (event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}

			});

			if (window.location.href.indexOf('podsaveamerica_q1_2022') > -1) {
				let date = new Date(Date.now() + 64.64e+7);
				date = date.toUTCString();
				document.cookie = "podsaveamerica=true; path=/; expires=" + date;
			}

		</script>

		<script>
			function productToggle(select) {
				var selectedProd = select.options[select.selectedIndex].id;
				var sleepToggle = document.getElementById('sleepToggle')
				var dreamPic = document.getElementById('imgDP')
				var SSCPic = document.getElementById('imgSSC')
				var xsPic = document.getElementById('imgXS')
				var ssToggle = document.getElementById('ssToggle')
				var xsToggle = document.getElementById('xsToggle')
				var hideToggle = document.getElementById('hideToggle')
				var imgs = document.getElementsByClassName('pdp-images')
				if (selectedProd == "sea-salt-caramel-dream-powder") {
					xsToggle.style.display = "none";
					ssToggle.style.display = "block";
					sleepToggle.style.display = "none";
					$('.pdp-images.slideshow').slick('slickGoTo', 1);
				}
				else if (selectedProd == "sleep-powder") {
					sleepToggle.style.display = "block";
					xsToggle.style.display = "none";
					ssToggle.style.display = "none";
					$('.pdp-images.slideshow').slick('slickGoTo', 0);
				}
				else if (selectedProd == "dream-extra-strength-powder") {
					sleepToggle.style.display = "none";
					ssToggle.style.display = "none";
					xsToggle.style.display = "block";
					$('.pdp-images').slick('slickGoTo', 2);

				}
				if($(window).width() < 767) {
				var selectedPro = select.options[select.selectedIndex].id;
				let isMobile = window.matchMedia("only screen and (max-width: 800px)").matches;
				var mobXsToggle = document.getElementById('mobile-xs')
				var mobSscToggle = document.getElementById('mobile-ssc')
				var mobDpToggle = document.getElementById('mobile-dp')
				if (selectedPro == "sea-salt-caramel-dream-powder") {
					mobSscToggle.style.display = "block";
					mobXsToggle.style.display = "none";
					mobDpToggle.style.display = "none";
				}
				if (selectedPro == "dream-extra-strength-powder") {
					mobSscToggle.style.display = "none";
					mobXsToggle.style.display = "block";
					mobDpToggle.style.display = "none";
				}
				if (selectedPro == "sleep-powder") {
					mobSscToggle.style.display = "none";
					mobXsToggle.style.display = "none";
					mobDpToggle.style.display = "block";
				}
			}
			}

		</script>

		<script>

			$(".testimonial-slider").slick({
				dots: true,
				customPaging: function (slider, i) {
					return $('<button type="button" />').text(i + 1);
				},
				centerMode: true,
				centerPadding: "24%",
				infinite: true,
				autoplay: true,
				autoplaySpeed: 5000,
				responsive: [{
					breakpoint: 992,
					settings: {
						centerPadding: "120px"
					}
				},
				{
					breakpoint: 768,
					settings: {
						centerPadding: "80px"
					}

				},
				{
					breakpoint: 554,
					settings: {
						centerPadding: "10px"
					}
				}]
			}); 
		</script>