<div class="pr color--primary of--hidden  hide--md">

    <div class="push-up full-width">
        <div class="image-banner">
            <img class="mobile-img"
                src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/hero-mobile%20Copy.jpg?v=1654118963">
        </div>
        <div class="pl1 pr1 pa"
            style="top: 5%; left: 0; right: 0; display: flex; flex-direction: column; align-items: center;">
            <div class="tc mb2 pl4--md">
                <h2 style="text-transform: none !important; color: #fff;" role="heading"
                    class="sans--xl mt2 fw--300 mobile-title pb1">
                    Your best sleep. Ever.
                </h2>
                <p style="text-transform: none !important;" class="sans--body hero-sub-title color--white pb3 fw--600">
                    35% off subscriptions and 20% off recurring orders.
                </p>
                <p style="text-transform: none !important;" class="sans--body hero-sub-title color--white pb3">
                    Use code <span class="fw--600">BEKAH15</span> at checkout.
                </p>
                <div class="tc"><a class="dib custom-button--wave-primary-top mobile-btn-main link--opacity pill"
                        style="color: #427cbf !important; font-size:18px; line-height: 2.4;min-width: 220px; background-color: #fff !important; width: 60%;"
                        title="get yours now" href="/products/sleep-powder">Shop now</a></div>
            </div>
        </div>
    </div>


</div>

<div class="mt10--lg pr of--hidden show--md hero--desktop">
    <div class="image-banner">
        <img class="desktop-img"
            src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/hero-desktop.jpg?v=1654112476">
    </div>
    <div class="pl2 pr2 pa content-contain">
        <div class="tl">
            <h2 style="text-transform: none !important;"
                class="hero-main-title sans--large fw--400 color--white mt1 mb2 show--md">
                Your best sleep. Ever.
            </h2>
            <p style="text-transform: none !important;" class="sans--body hero-sub-title color--white pb2 fw--600">
                35% off subscriptions and 20% off recurring orders.
            </p>
            <p style="text-transform: none !important;" class="sans--body hero-sub-title color--white pb3">
                Use code <span class="fw--600">BEKAH15</span> at checkout.
            </p>

            <div style="margin: 0 !important; width: 38% !important" class="product-button"><a class="button-inner"
                    style="color: #427cbf !important; line-height: 2; background-color: #fff !important"
                    title="get yours now" href="/products/sleep-powder">Shop now</a></div>
        </div>
    </div>
</div>

</div>


{% section 'product-vs' %}

<div class="mb0 pt4 pt3--md tc mobile-bg">
    <h2 role="heading" class="fw--600 sans--large mb8 color--black fw--400 pr1 pl1 sub-perks-title"
        style="font-weight: 400">
        Subscription perks:
    </h2>
    {% section 'sub-perks' %}
</div>

<div class="mt10--lg pr color--primary of--hidden show--md">
    <div class="image-banner">
        <img class="desktop-img bottom-img"
            src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/OTP-bg-desktop_1.jpg?v=1654114118">
    </div>
    <div class="pl2 pr2 pa content-contain">
        <div class="tl">
            <h2 style="text-transform: none !important;"
                class="hero-main-title bottom-module-title fw--400 color--black mt1 mb2 show--md">
                Not ready to commit to a subscription?
            </h2>
            <p style="text-transform: none !important;"
                class="sans--body bottom-module-subtitle color--black pb3 fw--600">
                Use code <span class="fw--600">BEKAH15</span> for <span class="fw--600">15% off</span> a one-time
                purchase.
            </p>
            <div class=""><a class="dib custom-button--wave-primary-top link--opacity pill"
                style="color: #fff !important; font-size:18px; line-height: 2.4;min-width: 220px; background-color: #427cbf !important; width: 40%;"
                title="get yours now" href="/products/sea-salt-caramel-dream-powder">Shop now</a></div>
        </div>
    </div>
</div>

<div class="pr color--primary of--hidden  hide--md">

    <div class="push-up full-width">
        <div class="image-banner">
            <img class="bottom-mobile-img"
                src="https://cdn.shopify.com/s/files/1/0264/4076/1399/t/35/assets/OTP-bg-mobile.jpg?v=1654118796">
        </div>
        <div class="pl1 pr1 pa"
            style="top: 12%; left: 0; right: 0; display: flex; flex-direction: column; align-items: center; width: 90%; margin: auto;">
            <div class="tc mb2 pl4--md">
                <h2 style="text-transform: none !important; color: #fff;" role="heading"
                    class="sans--xl mt2 fw--300 mobile-title pb1">
                    Not ready to commit to a subscription?
                </h2>
                <p style="text-transform: none !important;" class="sans--body hero-sub-title hero-sub-title-mobile color--white pb3 fw--400">
                    Use code <span class="fw--600">BEKAH15</span> for <span class="fw--600">15% off</span> a one-time purchase.
                </p>
                <div class="tc"><a class="dib custom-button--wave-primary-top link--opacity pill"
                        style="color: #427cbf !important; font-size:18px; line-height: 2.4;min-width: 220px; background-color: #fff !important; width: 60%;"
                        title="get yours now" href="/products/sea-salt-caramel-dream-powder">Shop now</a></div>
            </div>
        </div>
    </div>


</div>



<style>
        .content-contain {
            top: 0 !important;
        left: 75px !important;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    .hero-main-title {
        font-size: 44px;
    }
    .product-button {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #427cbf !important;
    color: #fff !important;
    font-size: 18px;
    line-height: 2.4;
    min-width: 220px;
    border-radius: 3px;
}
    .sub-perks-title {
        padding-top: 60px;
    }

    .vs-title {
        margin: 80px 0;
    }

    .button-bttom {
        display: flex !important;
        align-items: center;
        justify-content: center !important;
        height: 55px !important;
    }

    .bottom-module-title {
        font-size: 28px;
        font-weight: 500;
    }

    .bottom-module-subtitle {
        font-size: 19px;
        padding-bottom: 3vh;
        font-weight: 400;
    }

    .perks-content {
        margin: 0 auto;
    }

    .icon-list {
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .icon-img {
        margin: 0 !important;
    }

    .perks-on {
        display: none;
    }

    .video-banner {
        display: none;
    }

    .item-contain {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        width: 33%;
    }

    .subicon {
        width: 25px;
        padding-bottom: 15px;
    }

   

    .capitalize {
        text-transform: capitalize;
    }

    .hero--desktop {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .contact-content {
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-img {
        height: 400px;
        object-fit: cover;
        width: 100%;
    }

    .btn-white {
        background-color: #fff;
        color: #427BBE;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-title-inline {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .product-title {
        font-size: 16px;
        text-transform: capitalize;
    }

    .product-tag-overlay {
        text-transform: capitalize;
    }

    .product-price {
        font-size: 16px;
        color: black;
    }

    .product-card {
        border: 0 !important;
    }

    @media (min-width: 1600px) {
        .desktop-img {
            object-fit: cover;
            max-height: 100vh;
        }

        .hero--desktop {}
    }

    .pill {
        border-radius: 3px;
        border: #2F358E;
        transition: 200ms ease-in-out;
        width: 200px;
        height: 55px;
    }

    .pill-secondary {
        border-radius: 6px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 290px;
        max-width: 170px;
    }

    .hero--desktop .pill {
        height: 75px;
        width: 225px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .pill:hover {
        background-color: #E9F2FF;
        color: #2F358E;
    }

    .pill-secondary:hover {
        opacity: .8;
    }

    @media screen and (max-width: 600px) {
        .template-page .slick-dots {
            top: auto !important;
            bottom: -20px !important;
            left: auto !important;
            right: auto;
            text-align: center;
        }

        .template-page .slick-dots li button {
            text-indent: -1000px;
            border-radius: 100%;
            border: solid rgb(88 88 88 / 78%) 1px;
            background-color: #ffffff;
            width: 14px;
            height: 14px;
        }

        .template-page .slick-dots li.slick-active button {
            background-color: #2F358E;
        }
    }

    @media (min-width: 600px) {
        .hero-sub-title {
            font-size: 22px !important;
        }

        .hero--desktop {
            min-height: 640px;
        }

        .desktop-img {
            max-height: 90vh;
            object-fit: cover;
            width: 100%;
            height: 70vh;
        }
        .bottom-img {
            height: 60vh;
        }
    }

    @media screen and (max-width: 1300px) {
        .hero__cover {
            position: absolute;
            top: 0;
            left: 0;
            right: -20%;
            bottom: 0;
            width: 120%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .desktop-img {
            width: 110vw !important;
            height: 100vh;
        }

    
    }

    @media screen and (max-width: 950px) {
        .mobile-btn-main { 
            margin-top: 20px;
        }
        .perks-contain {
            margin-bottom: 0;
        }
        .bottom-mobile-img {
            margin-top: 0;
        }
        .mobile-bg {
            background-color: #f4f4f4;
            padding-top: 5px;
            margin-top: 10px;
        }
        .sub-perks-title {
            padding-bottom: 0;
            margin-bottom: 0;
            margin-top: 20px;
            padding: 20px 0;
        }

        .hero-sub-title {
            padding: 0;
            font-size: 14px;
        }
        .hero-sub-title-mobile {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .item-contain {
        width: 90%;
    }
    .subicon {
        padding-bottom: 5px;
    }

        .vs-title {
            padding-top: 30px;
            font-size: 25px;
            line-height: 125%;
            width: 70%;
            padding-bottom: 20px;
            margin: auto;
        }

        .blocks-list {
            flex-direction: column;
            padding-bottom: 30px;
        }

        .compare-contain {
            width: 100%;
        }

        .compare-contain:first-of-type {
            padding-bottom: 40px;
            border: 0;
        }

        .block-content {
            margin-bottom: 10px;

        }

        .list-contain {
            width: 90%;
        }

        .icon-list {
            flex-direction: column !important;
            align-items: center;
        }

        .content-contain {
            top: 21% !important;
            left: 0px !important;
        }
        .content-contain {
        top: 0 !important;
    left: 75px !important;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    }

    .marquee {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 26px;
        overflow-x: hidden;
    }

    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 74s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @media screen and (max-width: 600px) {
        .marquee {
            position: relative;
            width: 100vw;
            max-width: 100%;
            height: 22px;
            overflow-x: hidden;
        }

        .marquee .content {
            font-size: 16px;
            line-height: 22px;
        }

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 124s linear infinite;
        }

        .benefits-grid .benefits-name {
            height: 30px !important;
        }
    }

    .refer_container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .refer_container .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .refer_mark {
        top: 50%;
        transform: translateY(-50%);
        left: -75px;
        position: absolute;
        width: 150px;
    }

    .contactus_section {
        display: flex;
        flex-direction: column;
    }

    .contactus_section .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contactus_section .col.c7--md {
        padding-left: 100px;
    }

    .contactus_section .col.c5--md {
        padding-right: 100px;
        text-align: right;
    }

    @media (max-width: 800px) {
        .mobile-img {
            max-height: 100vh;
            width: 100vw;
            object-fit: cover;
            margin-top: 7%;
            height: 90vh;
        }

        .bottom-mobile-img {
            max-height: 100vh;
            width: 100vw;
            object-fit: cover;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mobile-title {
            font-size: 27px;
            line-height: 125%;
            margin-top: 30px !important;
        }

        .mobile-copy {
            padding-bottom: 15px;
            padding-top: 10px;
            font-size: 15px;
            width: 95%;
            margin: auto;
            line-height: 24px;
        }

        .contact-content {
            position: absolute;
            z-index: 999;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contact-subtitle {
            margin: 20px;
        }

        .refer-contain {
            margin-top: 0;
            padding-top: 0;
        }

        .refer-subtitle {
            color: white;
            width: 65vw;
        }

        .refer-image {
            filter: brightness(0.3);
        }

        .btn {
            font-size: 16px;
        }

        .contact {
            padding: 0;
        }

        .contact-img {
            height: 400px;
        }

        .join-inline {
            flex-direction: column;
            width: 100%;
        }

        .join-inline-2 {
            flex-direction: column;
            width: 100%;
        }

        .join-flex {
            width: 100%;
        }

        .join-img {
            width: 100vw;
        }

        .join-flex-copy {
            width: 100%;
            align-items: center;
            padding-top: 30px;
            padding-left: 0;
            text-align: center;
        }

        .join-flex-copy-2 {
            width: 100%;
            align-items: center;
            padding-top: 30px;
            padding-right: 0;
            text-align: center;
        }

        .join-copy {
            font-size: 14px;
            width: 90%;
        }

        .join-title {
            font-size: 20px;
            text-align: center;
        }

        .refer_container .row {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        .refer_mark {
            top: -50px;
            left: 50%;
            position: absolute;
            width: 100px;
            transform: translateX(-50%);
        }

        .refer_container {
            margin-bottom: 0px;
        }

        .refer_container .col.c7--md {
            margin-bottom: 0px;
        }

        .contactus_section .row {
            flex-wrap: wrap;
        }

        .contactus_section .col.c5--md {
            text-align: center;
            padding-right: 0px;
            padding-left: 0px;
        }

        .contactus_section .col.c7--md {
            padding-left: 0px;
            padding-right: 0px;
        }

        .contactus_section .container {
            padding: 35px 0px !important;
        }
    }
</style>